* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4%;
    margin: auto;
    max-width: 1100px;
    padding: 50px 25px;
}

#mobiletitle {
    grid-column: 1/3;
    font: 1.6rem Ubuntu, sans-serif;
    display: none;
}

#desktoptitle {
    font: 2.5rem Ubuntu, sans-serif;
    font-weight: 800;
    margin-bottom: 30px;
}

header {
    grid-column: 1/3;
}

#calculator {
    background-color: #484848;
    padding: 0 20px 20px 20px;
    border-radius: 18px;
}

button:active, button:focus {
    outline: none;
}

button:active {
    box-shadow: 0 0 0 1pt #fff!important;
}

p {
    margin-bottom: 10px;
}

/* CALCULATOR BODY */
#enter {
    grid-column: 3/5;
    background-color: #DB8D3E!important;
    color:#000000!important;
}

#buttongrid {
    grid-template-columns: repeat(4, 1fr);
    display: grid;
    grid-gap: 10px;
}

#buttongrid button {
    text-align: center;
    font: 40px Ubuntu, sans-serif;
    color: #ffffff;
    background-color: #000000;
    padding: 5px;
    border-radius: 12px;
    border: none;
}

#buttongrid button:hover {
    box-shadow: 3px 3px 5px #1b1b1b;
}

/* CALCULATOR SCREEN */
#screen {
    font: 2.5rem Inconsolata, sans-serif;
    margin: 5px;
    max-width: 100%;
}

#display {
    display: grid;
    grid-template-columns: 9fr 1fr;
    padding: 35px 10px 10px 10px;
    grid-gap: 5px;
    margin-bottom: 20px;
    background-color: #BABABA;
}

#screenwrap {
    grid-row: 1/4;
    border: 1px solid #000000;
    text-align: right;
    background-color: #ffffff;
    border: none;
    word-break:break-all;
    display: inline-block;
}

#display button {
    padding: 0 7px;
    font: 40px Ubuntu, sans-serif;
    color:#000000;
    background-color: #8fd8ff;
    max-height: 50px;
    box-sizing: border-box;
    grid-column: 2;
    border-radius: 12px;
    border: none;
}

.navigation:hover {
    box-shadow: 3px 3px 5px #949494;
}

/* INFO SECTION */
.section {
    margin-bottom: 30px;
}

h2 {
    font: 1.5rem Ubuntu, sans-serif;
    font-weight: 500;
    margin-bottom: 15px;
    color: #484848;
}

p {
    font: 1rem Roboto, sans-serif;
    line-height: 1.4;
}

table {
    margin-top: 5px;
    margin-bottom: 15px;
    border-collapse: collapse;
    border: 1px solid #BABABA;
}

tr:nth-child(even) {
    background-color: #eee;
}

th {
    background-color: #8fd8ff;
    color: #000;
    padding: 5px;
    font: 1rem Inconsolata, sans-serif;
    font-weight: 700;
}

td {
    padding: 10px;
    border: 1px solid #BABABA;
    font: 1rem Inconsolata, sans-serif;
}


/* INFIX CONVERSION */
label {
    font: 1.5rem Ubuntu, sans-serif;
    color: #ffffff;
}

#infixdiv {
    margin-top: 20px;
}

#infixdisplay {
    display: none;
    background-color: #BABABA;
    font: 1.3rem Inconsolata, sans-serif;
    padding: 5px;
    margin-top: 7px;
}

input[type=checkbox] {
    margin: 5px;
}

/* RESPONSIVENESS */
@media only screen and (max-width: 900px){
    #desktoptitle {
        display: none;
    }

    #mobiletitle {
        display: block;
    }

    body {
        display: block;
        padding: 0 0 30px 0;
    }

    #info {
        padding: 30px;
    }

    #calculator {
        border-radius: 0 0 18px 18px;
    }

    #screenwrap {
        grid-row: 2/4;
    }
}
